<%- include("partials/header") -%>
<div class="compose-body">
  <h1>Compose</h1>
  <form action="/compose" method="POST">
    <div class="form-group">
      <label for="postTitle">Title</label>
      <input type="text" name="postTitle" class="form-control" id="postTitle" autocomplete="off">
      <label for="postBody">Post</label>
      <textarea name="postBody" class="form-control" autocomplete="off" rows="8"></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </form>
</div>
<%- include("partials/footer") -%>
