<%- include("partials/header") -%>
<div class="post-body">
  <h2 class="post-title">
    <%= Title %>
  </h2>
  <hr>
  <p class="post-content">
    <%= Content %>
  </p>
</div>

<%- include("partials/footer") -%>